body {
    color: #ffd6ec;
    background-color: blanchedalmond;
    font-family: "Didot"; 
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/creampuffbckground.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
        

}

li {

    color: #ffffff;
}

h2 {

    color: #ffd6ec;


}


.centered {

    padding: 10px 10px 10px 10px;
    margin: 0 auto 0 auto;
    width: 80%; 

}

.differentfont {

    font-family: sans-serif;
    color: #ffacec;
    font-style: oblique;
}


#recipecolor {


    color: #ffffff;
    margin: 0;
    width: 80%;
    padding: 10px 10px 10px 10px;
    font-weight: 500;
    font-style: italic
}

.candypink {

    color: #ffffff;
}

.dessert-font-big {

    font-size: 20px;
}

#newlist li {
    
    color: #ffffff;
} 




@media screen and (max-width: 30rem) {
    h1,
    nav,
    header,
    main,
    footer,
    .recipeinfo { 
  
        color: #fff8fd;
        flex-direction: column; 
        flex-wrap:wrap; 
        justify-content: center;
        align-items: center;
    } 
} 



.dcontainers {
    
    
    display: flex;
    flex-direction:column;
    justify-content:space-around; 
    align-items: center;

} 

.navigation
{
    
    display: flex; 
/*    flex-direction: column;*/
    align-items: center;
justify-content:center;

} 

a:hover {
    color:hotpink; 
}
       

ul {
    
    list-style-type: none;
} 

.opening {
    
    display: flex;
    flex-direction:column;
    justify-content:center;  
 
} 


.stylestyle {
    
    display: flex;
} 

.backgroundcolorc {
    
   background-color: white;
}  


footer{
    
    display: flex;
    align-items: center; 
    justify-content: center
} 


.recipeinfo {
    
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
/*    flex-direction: column;*/
}
 

nav ul li a {
    
    padding-right: 10px;
}

form p {
    
    display: flex;
    
} 

form label {
    
    
    flex-basis: 33%;
    
    
}


form input, textarea, select {
    
    
    flex: 1;
    margin: 0 1em;
    border-radius: 5px;
}  

formcentral {
    display: flex;
    justify-content: center;
    align-items: center;
} 


